/* --GLOBAL-- */

:root {
  --primary: #CFAAC9;
  --secondary: #8E6788;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-weight: 100;
  background-color: var(--primary);
  color: white;
}

h1{
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -10px
}

h3{
  font-size: 1.5rem;
  font-weight: 100;
}

p{
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 200;
}

.top-head{
  text-align: center;
  padding: 0rem 1rem 0rem 1rem;
}

.top-head > img{
  max-width: 18rem;
}

.top-head > h3{
  margin-top: -1rem;
}

.line-dark-purple{
  border: 1.5px solid var(--secondary);
  margin-top: -1rem;
  margin-bottom: -1rem;
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.top-head > h1{
  margin-top: 1rem;
  margin-bottom: -1rem;
}

